#################
## NNTL specific
#################
_extern/*
_obsolette/
data/*
**/.svn

# common build directories
build/
build_*/
vcpkg_tmp_cache*/
# for CLion IDE
cmake-build-*/

#################
## Visual Studio
#################

# IDE/editor configuration
.idea/
.settings/
.vs/
.vscode/
JSON/
.classpath
.project
*.userosscache
*.userprefs
*.vcproj
*.vcproject


# User-specific files
*.suo
*.user
*.sln.docstates
*.opendb

# Build results
[Dd]ebug/
[Rr]elease/
x64/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.vspscc
.builds
*.dotCover

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf

# Visual Studio profiler
*.psess
*.vsp

##########################
# Temporary & cache files
##########################
*~
*.lock
*.swp
*.tmp
\#*
.\#*

##########################
# Python
##########################
venv/
__pycache__/
.eggs/
eggs/
develop-eggs/
.Python
*.pyc
*.egg-info/
*.egg
pip-log.text
pip-delete-this-directory.txt

##########################
# Git client-side hooks management is done by `pre-commit` utility
pre-commit-log*.txt


############
## OS-specific metadata
############

*.DS_Store
*.Thumbs.db
Desktop.ini


#################
## Other
#################
*.exe
*.dll
*.bmp
*.bin
*.mat
*.VC.db
*.xlsx
*.vspx
